/*---------Panier et contenues dans le panier---------------*/
.cart {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.978);
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: right 0.3s ease;
    height: 100%;
    z-index: 200;
    overflow: hidden;

    #close-btn-cart {
        font-size: 2.7rem;
        margin-left: -30px;
        margin-right: 10px;
        color: #5b5b5b;
        font-weight: 600;
        height: 6%;
    }

    .cart-title {
        margin-top: 33px;
        text-align: center;
        font-weight: 500;
    }

    .panierVide {
        margin-top: 100px;
        text-align: center;
        font-size: 1.5rem;
        color: #5b5b5b;
    }




}